server:
  port: 8084

spring:
  application:
    name: reviewservice

  # 데이터베이스 설정
  datasource:
    url: jdbc:postgresql://localhost:5432/test-db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

---
spring:
  config:
    activate:
      on-profile: default
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        implicit_naming_strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: reviewservice
          destination: untitled
          contentType: application/json
        event-out:
          destination: untitled
          contentType: application/json

logging:
  level:
    org.springframework.security: DEBUG
    delivery_system: INFO
    org.hibernate.type: trace
    org.springframework.cloud: debug
    org.springframework.jdbc.core: debug
    org.hibernate.SQL: debug

---

spring:
  config:
    activate:
      on-profile: docker
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        implicit_naming_strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  cloud:
    stream:
      kafka:
        binder:
          brokers: my-kafka:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: reviewservice
          destination: delivery_system
          contentType: application/json
        event-out:
          destination: untitled
          contentType: application/json
