spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: userservice

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  datasource:
#    url: jdbc:postgresql://localhost:5432/userservice
    url: jdbc:postgresql://localhost:5432/userservice-db  # ✅ 변경됨
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  sql:
    init:
      mode: always
      separator: //

  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        ddl-auto: update
        implicit_naming_strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #database-platform: org.hibernate.spatial.dialect.postgis.PostgisDialect

  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: userservice
          destination: untitled
          contentType: application/json
        event-out:
          destination: untitled
          contentType: application/json

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET_KEY:my-default-secret7e9f3b4c5d7c5d8e4f12a9ec17f1f4d29c6b1f8a2}
  expiration: 3600000  # 1시간

management:
  endpoints:
    web:
      exposure:
        include: health,info

kakao:
  api:
    key: 867cc3ce2eec2dcb5d8d8455c771cb13

logging:
  level:
    org.hibernate.type: trace
    org.springframework.cloud: debug
